:root {
    /* Light Mode */
    --back-color1: #baaa96;
    --back-color2: #CBE7FF;
    --primary-color: #426a5ac9;
    --secondary-color: #7fb685bd;
    --t채rtier-color: orange;
    --primary-text-color: #dda1c6cc;
    --secondary-text-color: #6c4b5ebb;
    --t채rtier-text-color: orange;
    

    /* Dark Mode */
    --dark-back-color1: white;
    --dark-back-color2: black;
    --dark-primary-color: blue;
    --dark-secondary-color: blue;
    --dark-t채rtier-color: orange;
    --dark-primary-text-color: blue;
    --dark-secondary-text-color: blue;
    --dark-t채rtier-text-color: orange;
}


html{
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 0;
    margin:0;
    scrollbar-width: none;
}

body{
    margin:0;
}

section{
    scroll-snap-align: start;
    position:relative;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    overflow-y:scroll;
    overflow-x:scroll;
    scrollbar-width: none;
}

p{
    text-align: left;
}


.grid_container{
    height: 90vh;
    width: 90vw;
    display:inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-items: center;
    border: 5px black solid;
}

@keyframes hoverout {
    0% {opacity: 100;}
    100% {opacity: 0;}
}

.arrow_container{
	position: fixed;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 20%; /* Makes the container a circle */
    display: flex;
	cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */

    bottom: 0;
    left: calc(50% - 20px);
    transform: translateX(-50%);
    z-index: 100;
    width: 40px;  
    height: 40px; 

    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
}

@media (max-width: 768px) {
    .arrow_container{
        left: calc(90% - 20px);
    }
}

.arrow_container:hover {
    background-color: rgba(255, 0, 55, 50%); /* Fully opaque on hover */
}


#arrow{
	display: flex;
	aspect-ratio: 1;
	justify-content: center;
	align-items: flex-end;
}


@keyframes bounce{
    0% {transform: translateY(0);}
    30% {transform: translateY(-10%);}
    35% {transform: translateY(-11%);}
    45% {transform: translateY(0);}
    100%{transform: translateY(0);}
}
