:root {
  --back-color: #f5f0e6;
  --back-text-color: #4a3f35;
  --color1: #d6eaff;
  --text-color1: #2a445e;
  --color2: #e2f0d9;
  --text-color2: #3d5236;
}

@media (prefers-color-scheme: dark) {
  :root {
    --back-color: #1c1b17;
    --back-text-color: #e0dcd3;
    --color1: #2c3e50;
    --text-color1: #d6eaff;
    --color2: #2d3829;
    --text-color2: #e2f0d9;
  }
}


html{
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 0;
  scroll-snap-stop: always;
  margin:0;
  scrollbar-width: none;
}

body{
  margin:0;
}

section{
  scroll-snap-align: start;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y:scroll;
  overflow-x:scroll;
  scrollbar-width: none;
}

p{
  padding: 2vh;  
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #2b221a;
  font-weight: 500;
  margin: 0;
  color: var(--text-color1);
}
b{
  font-size: 1.4rem;
}

a{
  padding: 2vh;  
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #2b221a;
  font-weight: 500;
  margin: 0;
  color: var(--text-color2);
}

.grid_container{
    height: 90vh;
    width: 90vw;
    display:inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-items: center;
    border: 5px var(--color1) solid;
}


li{
  /* display: list-item;  */
  /*   font-family: inherit; */
  /*   font-size: inherit; */
  /*   line-height: inherit; */
  /*   color: var(--text-color1); */
  /* text-align: left; */
}


/* ul{ */
/*   display: list-item;  */
/*     font-family: inherit; */
/*     font-size: inherit; */
/*     line-height: inherit; */
/*     color: inherit;} */
