#seperation{
	border: solid 2px black;
	height: 0px;
	width: 100%;
	position: relativ;
}

th,td,tr{
	padding: 1vh;
	margin: 0px;
	text-align: left;
}

th + th, td+ td{
	border-left: solid 2px black;
}

tr + tr{
	border-top: solid 2px black;
}

.Marked_Img{
	max-width: 33%;
	height: 200px;
	display: box;
}
