#page_headline {
    height: 100vh;
    width: 100vw;
    text-align: center;
	justify-content: center;
    background-color: var(--back-color1);
}

header {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size:6vw;
    text-transform: uppercase;
    width:100%;
    top:40%;
}

.heart {
    width: 200px; /* Breite des Herzens */
    height: 200px; /* Höhe des Herzens */
    background-image: url('../images/RomantischeBild.jpeg'); /* Hier den Pfad zu deinem Bild einsetzen */
    background-size: cover; /* Bild deckt das Herz vollständig ab */
    background-position: center; /* Bild zentrieren */
    stroke: var(--primary-color);
    overflow: hidden;
    fill: none;
}
