#page_headline {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: block;
    text-align: center;
	justify-content: center;
  background-color: var(--back-color1);
}

header {
	display: flex;
	flex: 1;
  z-index:10;
	align-items: center;
	justify-content: center;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size:12vw;
  text-transform: uppercase;
  width:100%;
  top:40%;
  gap: 20px;
  height: 30%;
}

.headline_wrapper{
  position: fixed;
  top: 30vh;
  left: 25vw;
  height:30vh;
  width: 50vw;
  margin: 0;
  z-index: 20;


  background-image: url('../images/RomantischeBild.jpeg');
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.0);

  mask-image: url('../images/heart.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url('../images/heart.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  animation-name: herz-bewegung;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-timeline: scroll(root); 

  animation-range-start: 0%; 
  animation-range-end: 50%;

}

@keyframes herz-bewegung{ 
  0% {  
  top: 30vh;
  left: 25vw;
  height:30vh;
  width: 50vw;
  } 
  50% {  
  top: 0vh;
  left: 15vw;
  height:50vh;
  width: 70vw;
  } 
  100% {  
  top: 1vh;
  left: 10vw;
  height: 10vh;
  width: 7vh;
  } 
}


#slides_headl{
  position: fixed;
  top: 30vh;
  left: 25vw;
  height:30vh;
  width: 50vw;
  margin: 0;
  z-index: 10;
  background-color: white;
  border-radius: 20px;

  animation-name: slide_headl_animation;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-timeline: scroll(root); 

  animation-range-start: 0%; 
  animation-range-end: 50%;
}

@keyframes slide_headl_animation{ 
  0% {  
  top: 50vh;
  left: 50vw;
  height: 1vh;
  width: 1vw;
  } 
  50% {  
  top: 20vh;
  left: 50vw;
  height:1vh;
  width: 1vw;
  } 
  100% {  
  top: 2vh;
  left: 10vw;
  height: 8vh;
  width: 80vw;
  } 
}
