.collumn{
    font-size: 14px;
    line-height: 20px;
    width: 17.5%;
    
    display:inline-table;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
    position:relative;

    /* Das hier macht die Linien länger */
    /* height: auto;  */
}

/* Strcih zwischen den Spalten */
.collumn + .collumn {
    border-left: 1px solid #2f2f2f;
}

.collumn .figcaption{
	font-style: italic;
	font-size: 12px;
}

/* Haufenweise verscheidene Überschriften: */
.collumn.headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;
}

.collumn .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.collumn .headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.collumn .headline.hl3{
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl4{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl4:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl4:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}
.collumn .headline.hl5{
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl6{
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .headline.hl6:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.collumn .headline.hl6:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}


/* Animationen für die Spalten */
/* 
.grid_container.information.tidden{
    width:10%;
    animation-name: tidden;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;

}
.grid_container.visible.information{
    width:100%;
    animation-name: widden;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

@keyframes widden{
    0% {width:10%;}
    100% {width: 100%;}
}

@keyframes tidden{
    0% {width:10%;}
    100% {width: 100%;}
} */
