.page_welcome{
    height: 100vh;
    width: 100vw;
    text-align: center;
	justify-content: center;
    background-color: var(--back-color);
}

.wolcome_container_new{
    width: 95vw;
    height: 85vh;
}


/*===============
SlindeShow
===============*/

/* Slideshow container */
.slideshow-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;   
  scroll-snap-stop: always;


  width: 100%;
  height: 100%;             

  scrollbar-width: none;      
  -ms-overflow-style: none;   


}

.slideshow-container::-webkit-scrollbar { 
  display: none;             
}


.mySlides {
  display: flex;              
  justify-content: center;
  width:100%;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
  
  height: 100%;           
  flex-shrink: 0;             
  scroll-snap-align: start; 
  
  background-color: #f4f4f4;  
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: var(--color1);
    /* filter:blur(4px); */
    /* -o-filter:blur(4px); */
    /* -ms-filter:blur(4px); */
    /* -moz-filter:blur(4px); */
    /* -webkit-filter:blur(4px); */
    /**/
  overflow-y: scroll;

}

.big_symbol{
  font-size: 4rem;
}

.dot {
  cursor: pointer;
  height: 3.5vh;
  width: 3.5vh;
  background-color: var(--color2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position:relative;
}

.active, .dot:hover {
  background-color: var(--color1);
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#map_wrap{
  display: flex;
  width: 100%;
  height: 30%;
  justify-content:center;
}
.LocationMap{
  height: 100%;
  width: 90%;
}

.slide-content{
  height: 100%;
  width: 90%;

}

.parken_container{
  height: 50%;
  /* width: 90%; */
  background-image: url("../images/parken.png");
  background-size:cover;
}
#parken_bild{
  background-image: url("../images/parken.png");
  /* size: cover;   */
  /* background-size: cover;   */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* transform: scale(1.0); */
}

