#countdown{
    position:relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    text-transform: lowercase;
    height: auto;
    text-align: center;
    color: var(--back-text-color)
}

#page_count{
    background-color: var(--back-color);
}

.title{
    position:relative;
    top: 15%;
    text-align: center;
}
