.welcome_grid {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 10px;

    grid-template-columns: 33% 17% 16% 34%;
    grid-template-rows: 33% 33% 34%;
    grid-template-areas:
        "greetings p_she marry marry"
        "greetings p_she p_he  else"
        "about     about p_he  else";
}



.welcome_grid .greetings    { grid-area: greetings; }
.welcome_grid .portrait_she { grid-area: p_she; }
.welcome_grid .marry        { grid-area: marry; }
.welcome_grid .about        { grid-area: about; }
.welcome_grid .portrait_he  { grid-area: p_he; }
.welcome_grid .else         { grid-area: else; }



.welcome_grid img.portrait {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {


      /* Der übergeordnete Container für das Scrollen */
      .grid_container {
          overflow-x: scroll;
          overflow-y: hidden;
          scroll-snap-type: x mandatory;
      }

      /* Das Grid selbst, horizontal angeordnet */
      .welcome_grid {
          grid-auto-flow: column;
          /*grid-template-columns: repeat(6, 85vw);*/
          grid-template-rows: 1fr;
          grid-template-areas: none;
          display: grid;
      }

      /* Die einzelnen Artikel für das "Snapping" und die Platzierung vorbereiten */
      .welcome_grid article {
          /* WICHTIG: Setzt die "grid-area" vom Desktop zurück und erlaubt die automatische Platzierung */
          grid-area: auto;
          position: relative;

          /* Das sorgt für das Andocken beim Scrollen */
          scroll-snap-align: start;
      }
}




.portrait{
    /* filter: grayscale(100%);
    -webkit-filter: sepia(20%) contrast(1) opacity(0.6); */
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);

    /* Zentrieren:
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    */

    /* Ausfüllen:
    height: 100%;
    */
}
