#page_info{
    background-color: var(--back-color1);
}

.info_container{
  display: block;
  width: 95vw;
  height: 90vh;   

}

.hello_placeholder_acc{
  height: 7%;
  position: relative;
}



.accordion {
  z-index: 40;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  width: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 1s;
  transition-timing-function: ease;
  height: 5%;
  padding-left: 5px;
  padding-top: 1px;
  display: flex;
  
}

.active_accordion {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.info_collumn {
  border-bottom: 4px solid var(--primary-color);
  border-left: 2px dashed var(--primary-color);
  background-color: lightgrey; 
  color: var(--secondary-text-color); 
  padding: 0 10px;
  display: block;
  max-height: 70%;
  overflow: scroll;
  width:auto;
  margin-bottom: 2%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 0px;
  transition: height 0.5s;
  transition-timing-function: ease-in-out;
  margin-bottom: 2%;
}

.active_accordion + .info_collumn{
  height: 65%;
}

.roll_symbol{
  transition: transform 0.3s;
  display: inline-block;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.roll_indicator{
  text-align: right;
  display:flex;
  width: auto;
  flex-grow: 1;
  padding-right: 8px;
  justify-content: flex-end;
  align-items: center; 
}


.active_accordion .roll_indicator .roll_symbol{
  transform: rotate(180deg);
}

.headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    display: block;
}

/* .headline.hl1{ */
/*     font-weight: 700; */
/*     font-size: 18px; */
/*     text-transform: uppercase; */
/*     padding: 5px 0 5px 0; */
/* } */


