#page_info{
    background-color: #FFF1E6;
}

/*Container config*/
.information_container{

    padding: 15px; 
    border: 10px solid #c70000ab; /* Zur Visualisierung */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    transition: grid-template-columns 0.4s ease-in-out;
}

/* Regel für eingeklappte*/
/*Karteikarte*/
.index_card {
  display: flex;
  background-color: #f0f0f0;
  cursor: pointer;
  overflow: hidden; /* Wichtig, um den Inhalt zu verstecken */
  transition: all 0.4s ease-in-out; /* Übergang für Layout und Inhalt */
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

/* Titel der Karteikarte*/
.index_card p.title {
    writing-mode: vertical-rl; 
    text-orientation: mixed;
    white-space: nowrap;
    opacity: 1;
    transition: all 0.2s;
}

/*Karteikartenkinder*/
.index_card:not(.expanded) * {
    display: none;
}
/*Titel*/
.index_card:not(.expanded) p.title {
    display: unset;
}


/*Regel für ausgeklappte*/
/*Karteikarte*/
.index_card.expanded {
  background-color: #e0f7fa;
  cursor:unset;
}
/*Karteikartenkinder*/
.index_card.expanded * {
    display: unset;
}
/*Titel*/
.index_card.expanded p.title {
    display: none;
}


/* Fall 1: 1. Karte erweitert (3 kleine, 1 große Spalte) */
.information_container.expand-1 {
    grid-template-columns: 
        90%
        minmax(1%, 30%)                                 
        minmax(1%, 30%)          
        minmax(1%, 30%); 
}

/* Fall 2: 2. Karte erweitert */
.information_container.expand-2 {
    grid-template-columns: 
        minmax(1%, 30%)        
        90%                         
        minmax(1%, 30%)          
        minmax(1%, 30%);         
}

/* Fall 3: 3. Karte erweitert */
.information_container.expand-3 {
    grid-template-columns: 
        minmax(1%, 30%)          
        minmax(1%, 30%)          
        90% 
        minmax(1%, 30%);       
}

/* Fall 4: 4. Karte erweitert */
.information_container.expand-4 {
    grid-template-columns: 
        minmax(1%, 30%)         
        minmax(1%, 30%)       
        minmax(1%, 30%)          
        90%; 

}


/*Headlines*/
.index_card.headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    display: block;
}

.index_card .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

.index_card .headline.hl2{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
}

.index_card .headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    margin: 0 auto;
    width: 100px;
    height: 7px;
    display: block;
}
.index_card .headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    margin: 0 auto;
    width: 100px;
    height: 13px;
    display: block;
}

.index_card .headline.hl3{
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.index_card .headline.hl4{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.index_card .headline.hl4:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.index_card .headline.hl4:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}
.index_card .headline.hl5{
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.index_card .headline.hl6{
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.index_card .headline.hl6:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.index_card .headline.hl6:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}