#page_info{
    background-color: var(--back-color);
    width: 100vw;
    height: 100vh;
}

.info_container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 95vw;
  height: 89vh;
  margin-top: 11vh;
}

.hello_placeholder_acc{
  height: 7%;
  position: relative;
}

.accordion {
  flex-shrink: 0;
  z-index: 40;
  background-color: var(--color2);
  color: var(--text-color2);
  cursor: pointer;
  width: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 1s;
  transition-timing-function: ease;
  height: 5vh;
  padding-left: 5px;
  padding-top: 1px;
  display: flex;
}

.active_accordion {
  background-color: var(--color2);
  color: var(--text-color2);
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.info_collumn {
  flex-grow:0;
  flex-basis:0;
  transition: flex-grow 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  border-bottom: 4px solid var(--color2);
  border-left: 2px dashed var(--color2);
  background-color: var(--color1); 
  color: var(--text-color1); 
  padding: 0 10px;
  display: block;
  overflow: scroll;
  width:auto;
  margin-bottom: 2%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 0px;
  /* transition: all 0.5s ease; */
  /* transition-timing-function: ease-in-out; */
  margin-bottom: 5px;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.active_accordion + .info_collumn{
  flex-grow:1;
  overflow-y:auto;
  height: auto;
}

.roll_symbol{
  transition: transform 0.3s;
  display: inline-block;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.roll_indicator{
  text-align: right;
  display:flex;
  width: auto;
  flex-grow: 1;
  padding-right: 8px;
  justify-content: flex-end;
  align-items: center; 
}


.active_accordion .roll_indicator .roll_symbol{
  transform: rotate(180deg);
}

.headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    display: block;
}

.kontakt_pic{
  width: 50%;
}


.fade-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Höhe des Verlaufs */
  
  /* Der Verlauf: Transparent zu Weiß (oder deiner Hintergrundfarbe) */
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
  
  /* WICHTIG: Klicks durchlassen! */
  pointer-events: none; 
  
  z-index: 10; /* Über dem Text */
}
