#page_headline {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: block;
    text-align: center;
	justify-content: center;
  background-color: var(--back-color1);
}

header {
	display: flex;
	flex: 1;
  z-index:10;
	align-items: center;
	justify-content: center;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size:12vw;
  text-transform: uppercase;
  width:100%;
  top:40%;
  gap: 20px;
  height: 30%;
}

.headline_wrapper{
  position: fixed;
  top: 30vh;
  left: 25vw;
  height:30vh;
  width: 50vw;
  margin: 0;
  z-index: 100;


  /* align-items: center; */
  /* gap: 10px; */
  /* display: flex; */
  /* overflow: hidden; */
  /* margin: 0 15% 0 15%; */
  /* width: auto; */
  /**/

  background-image: url('../images/RomantischeBild.jpeg');
  background-size: cover;   /* Bild deckt den Bereich ab */
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.0);

  mask-image: url('../images/heart.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: url('../images/heart.svg');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  animation-name: herz-bewegung;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-timeline: scroll(root); 
  /*animation-range: entry 0% cover 50%;*/
  animation-range-start: 0%; 
  animation-range-end: 30%;

}

@keyframes herz-bewegung{ 
  from {  
    /*margin: 0 15% 0 15%; transform: scale(1.0); */
  top: 30vh;
  left: 25vw;
  height:30vh;
  width: 50vw;
  } 
  to {  
    /* margin: 0; transform: scale(1.5); */
  top: 2vh;
  left: 2vw;
  height: 7vh;
  width: 7vh;
  } 
}


