#countdown{
    position:relative;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 5vw;
    text-transform: uppercase;
    height: auto;
    text-align: center;
}

#page_count{
    background-color: var(--back-color2);
}

.title{
    position:relative;
    top: 15%;
    text-align: center;
}
